<html>
<style>
<link rel="stylesheet" type="text/css" href="styles.css">

body {
    background
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


</style>
<body>
<div class = "Header" >
<center>
      <h2>ALPHA-BLOG</h2>
      <p>Welcome all to my alpha blog application</p> 
</center>
</div>
</body>
</html>



